body {
  margin: 0 auto;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Racing+Sans+One&family=Work+Sans:wght@100;900&display=swap&family=Work+Sans&display=swap');

.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  letter-spacing: .05rem;
}

.container {
  font-family: 'Work Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  padding: .5em;
  width: 5.8em;
  margin: .5em auto 0 auto;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 251, 251, 0.3);
  background-image: url('./pics/TV.png');
  background-blend-mode: lighten;
  border: 15px solid #000000;
  border-radius: 25%;
  box-shadow: -20px 10px rgb(48, 47, 47);
}

.contentContainer {
  font-size: .9rem;
  letter-spacing: .1rem;
  line-height: 1.3rem;
  text-shadow: white -3px -3px;
}

.contentContainer_blogtxt {
  margin-top: .3em;
}

.buttonsContainer {
  display: flex;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  width: 88%;
  font-size: 1.1rem;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
  margin-top: .7em;
}

.searchResultContainer {
  width: 299px;
  height: 717px;
  margin: 1em auto 1em auto;
  background: #FFFFFF;
  border: 5px solid #000000;
  border-radius: 13px;
}

.searchResult {
  margin: 0 auto;
  width: 289px;
  height: 707px;
  padding: .4em;
  overflow-y: scroll;
}

.searchBtnsContainer {
  display: flex;
  justify-content: center;
  width: 23em;
  margin: 0 auto;
  padding: .3em;
}

.searchBtnUser,
.searchBtnContent {
  font-size: .4rem;
  letter-spacing: .1rem;
  line-height: .8rem;
  text-transform: uppercase;
  text-align: center;
  width: 55px;
  height: 55px;
  margin: 0 .3em 0 .3em;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 13px;
  cursor: pointer;
  padding: .1em;
}

.searchBtnUser:hover,
.searchBtnContent:hover {
  border: 3px solid aqua;
}

.searchBtnsContainer > input {
  width: 266px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 13px;
}

.showcaseResultContainer {
  position: block;
  width: 322px;
  height: 597px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 5px solid #000000;
  border-radius: 13px;
  padding: .4em;
  font-weight: 500;
}

.showcase_result {
  overflow-x: scroll;
  word-wrap: break-word;
  font-weight: 700;
}

.showcase_result * p {
  word-wrap: break-word;
}

.selectBtn{
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 13px;
  cursor: pointer;
  margin: 0 .2em 1em .2em;
  position: inline-block;
  height: 32px;
  width: 106px; 
  background: #FFFFFF;
  font-size: .6rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  line-height: .8rem;
  box-sizing: border-box;
  border-radius: 13px;
}

.selectBtn:hover {
  border: 4px solid aqua;
}

.showcaseBtnsContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: .5em auto 1em auto;
  width: 322px;
  padding-bottom: .5em;
}

.nav_link {
  text-decoration: none;
  color: indigo;
}

.nav_link:hover {
  color: magenta;
  text-shadow: indigo -2px -2px;
  transition: all .5s ease-in-out;
}

.hoveredButton {
  border: 3px solid aqua;
  transition: all .5s ease-in-out;
}

.active {
  color: magenta;
  text-shadow: indigo -2px -2px;
  transition: all .5s ease-in-out;
}

.tweet {
  border: 1px solid black;
  border-radius: 13px;
}

.tweet_card {
  text-align: left;
  word-wrap: break-word;
  overflow-x: scroll;
  overflow-y: scroll;
}

.tweet-card * p {
  word-wrap: break-word;
}

#buttonBorder {
  border: 4px solid aqua;
}

#buttonBorderThin {
  border: 3px solid aqua;
}

.tweetCardImg {
    max-width: 10em;
    max-height: 12em;
    border-radius: 13px;
}

@media (min-width: 600px) {
  .container {
    width: 677px;
    height: 470px;
    font-size: 2rem;
    margin: 1.5em auto 0 auto;
  }

  .contentContainer {
    font-size: 1.3rem;
    text-shadow: white -3px -3px;
  }

  .contentContainer_blogtxt {
    margin-top: 0;
  }

  .searchResultContainer {
    width: 784px;
    height: 930px;
  }
  .searchResult,
  .showcaseResult {
    position: relative; 
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 auto;
    width: 60%;
    height: 100%; 
    overflow-y: scroll;
    font-weight: 800;
    padding: .4em;
  }
  
  .showcaseResultContainer {
    width: 778px;
    height: 789px;
    background: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 13px;
  }

  .showcaseBtnsContainer {
    width: 778px;
  }
  
  .tweetCardImg {
      max-width: 13em;
      max-height: 18em;
      border-radius: 13px;
  }
}

@media (min-width: 1025px) {

  .container {
    width: 857px;
    height: 477px;
    margin: 3em auto 0 auto;
    font-size: 2rem;
  }

  .contentContainer {
    font-size: 1.2rem;
    text-shadow: white -3px -3px;
  }

  .contentContainer_blogtxt {
    margin-top: 0;
  }

  .buttonsContainer { 
    width: 40%;
  }
 
  .searchBtnUser,
  .searchBtnContent {
    height: 50px;
    width: 75px;
    padding: .2em;
  }

  .searchResultContainer {
    width: 1232px;
    height: 697px;
  }

  .showcaseResultContainer {
    width: 1219px;
    height: 583px;
    background: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 13px;
  }
  .showcaseBtnsContainer {
    width: 1219px;
  }
  
  .tweetCardImg {
      max-width: 18em;
      max-height: 23em;
      border-radius: 13px;
  }

}