body {
  margin: 0 auto;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Racing+Sans+One&family=Work+Sans:wght@100;900&display=swap');

.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  letter-spacing: .05rem;
}

.container {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1em;
  position: absolute;
  width: 324px;
  height: 482px;
  left: 45px;
  top: 178px;
  background-color: rgba(255, 251, 251, 0.3);
  background-image: url('./pics/TV.png');
  background-blend-mode: lighten;
  border: 15px solid #000000;
  border-radius: 25%;
  box-shadow: -20px 10px rgb(48, 47, 47);
}

.buttonsContainer {
  display: flex;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  width: 88%;
  font-size: 1.1rem;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

.contentContainer {
  font-size: .9rem;
  letter-spacing: .1rem;
  line-height: 1.3rem;
}

.searchResultContainer {
  /* position: absolute; */
  width: 299px;
  height: 717px;
  /* left: 55px;
  top: 132px; */
  margin: 0 auto;
  background: #FFFFFF;
  border: 5px solid #000000;
  border-radius: 13px;
}

.searchBtnsContainer {
  display: flex;
  justify-content: center;
  width: 23em;
  margin: 0 auto;
  padding: .3em;
}

.searchBtnUser,
.searchBtnContent {
  font-size: .4rem;
  letter-spacing: .1rem;
  line-height: .8rem;
  text-transform: uppercase;
  text-align: center;
  /* position: absolute; */
  width: 50px;
  height: 50px;
  margin: 0 auto;
  /* left: 7px;
  top: 60px; */
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 13px;
  cursor: pointer;
  padding: .1em;
}

.searchBtnsContainer > input {
  /* position: absolute; */
  width: 266px;
  height: 32px;
  /* left: 124px;
  top: 60px; */
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 13px;
}

.showcaseResultContainer {
  position: block;
  width: 322px;
  height: 597px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 5px solid #000000;
  border-radius: 13px;
}

.selectBtn{
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 13px;
  width: 106px;
  height: 32px;
}

.showcaseBtnsContainer {
  /* position: absolute; */
  /* left: 45px;
  top: 100px; */
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: .5em auto 1em auto;
  width: 322px;
  padding-bottom: .5em;
}


@media (min-width: 600px) {
  .container {
    width: 677px;
    height: 470px;
    left: 78px;
    top: 325px;
  }

  .contentContainer {
    font-size: 1.3rem;
    text-shadow: white -3px -3px;
  }


  .searchResultContainer {
    width: 784px;
    height: 930px;
    left: 21px;
    top: 223px;
  }
  .searchResult,
  .showcaseResult {
    position: relative;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    margin: 0 auto;
    width: 60%;
    height: 100%;
  }
  
  .showcaseResultContainer {
    width: 778px;
    height: 789px;
    /* left: 25px;
    top: 150px; */
    background: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 13px;
  }

  .showcaseBtnsContainer {
    width: 778px;
    /* left: 25px; */
  }
}

@media (min-width: 1025px) {

  .container {
    width: 857px;
    height: 477px;
    left: 295px;
    top: 191px;
  }
  .contentContainer {
    font-size: 1.2rem;
  }
  .buttonsContainer { 
    width: 40%;
  }
 
  .searchResultContainer {
    width: 1232px;
    height: 697px;
    left: 104px;
    top: 243px;
  }

  .showcaseResultContainer {
    width: 1219px;
    height: 583px;
    /* left: 104px;
    top: 150px; */
    background: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 13px;
  }
  .showcaseBtnsContainer {
    width: 1219px;
    /* left: 104px; */
  }

}