@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Racing+Sans+One&family=Work+Sans:wght@100;900&display=swap');
.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1em;
  position: absolute;
  width: 324px;
  height: 482px;
  left: 45px;
  top: 178px;
  background-color: rgba(255, 251, 251, 0.3);
  background-image: url('./pics/TV.png');
  background-blend-mode: lighten;
  border: 15px solid #000000;
  border-radius: 13px;
}

.buttonsContainer {
  display: flex;
  font-family: 'Work Sans', sans-serif;
}

.searchBtn,
.homeBtn,
.showcaseBtn {
  position: absolute;
  width: 117px;
  height: 40px;
  left: 10px;
  top: 766px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 13px;
}

.homeBtn {
  left: 145px;
  top: 770px;
}

.showcaseBtn {
  left: 280px;
  top: 770px;
}

@media (min-width: 600px) {
  .container {
    width: 677px;
    height: 470px;
    left: 78px;
    top: 325px;
  }
  .searchBtn,
  .homeBtn,
  .showcaseBtn {
    width: 175px;
    height: 81px;

  }
  .searchBtn {
    left: 33px;
    top: 902px;
  }
  .homeBtn {
    left: 303px;
    top: 902px;
  }
  .showcaseBtn {
    left: 612px;
top: 902px;
  }

}

@media (min-width: 1025px) {

  .container {
    width: 857px;
    height: 477px;
    left: 295px;
    top: 191px;
  }
  .searchBtn,
  .homeBtn,
  .showcaseBtn {
    width: 302px;
    height: 105px;
  }
  .searchBtn {
    left: 207px;
    top: 738px;
  }
  .homeBtn {
    left: 604px;
    top: 738px;
  }
  .showcaseBtn {
    left: 1001px;
    top: 738px;
  }
  
}